#socket-success {
    color: green;
    visibility: hidden;
}

#socket-fail {
    color: red;
    visibility: visible;
}


body {
    margin: 0;
    height: 100vh;
    width: 100vw;
    background-color: black;
}

#vue-app {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

#media-player {
    height: 100vh;
    width: 100vw;
    object-fit: contain;
}

#controls-container {
    width: 100%;
    height: 100px;
    background-color: rgba(0,0,0,0.2);
    position: fixed;
    top: 0;
    transition: opacity 0.5s;
    opacity: 0;
}

progress {
    width: 100%;
}

.active {
    opacity: 1 !important;
}

.icon {
    fill:white;
    width: 3rem;
    height: 3rem;
}

.icon:hover {
    fill:#ccc;
}

.icon-large {
    fill:white;
    width: 12rem;
    height: 12rem;
}

.icon-large:hover {
    fill:#ccc;
}

