#socket-success {
    color: green;
    visibility: hidden;
}

#socket-fail {
    color: red;
    visibility: visible;
}


body {
    margin: 0;
    height: 100vh;
    width: 100vw;
}

#vue-app {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

#media-player {
    height: 100vh;
    width: 100vw;
}
