.bottom-bar {
    position: fixed;
    bottom: 0;
    top: auto;
    left: 0;
    right: 0;
}

.full-width {
   width: 100%;
   margin-left: auto;
   margin-right: auto;
   max-width: initial;
}

.title .channel {
    opacity: 0;
    transition: all 0.6s;
}

.title .channel:before {
    content: '#';
}

.content {
    margin-top: 1em;
}

.status {
    transition: all 0.6s;
}
